<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Equipelco</title>
        <meta name="description" content="Responsive Multi-Purpose HTML Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#222222"> <!-- Android 5.0 Tab Color -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Google Fonts -->
        <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>-->
        <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>-->

        <!-- Icon Fonts CSS -->
        <link rel="stylesheet" href="css/knight-iconfont.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/reset.css">

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/number.css">
        <link rel="stylesheet" href="css/jquery.fs.shifter.css">

        <!-- Template CSS -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/shortcodes.css">
        <link rel="stylesheet" href="css/custom-bg.css">
         <!-- wasa--> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="css/whatsapp.css" rel="stylesheet" type="text/css" media="all" />
        <!-- wasa-->
        <!-- JS -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script> 
        <script src="http://pajhome.org.uk/crypt/md5/2.2/md5-min.js"></script>       

        <style>
            .tp-wrapper {
                height: 650px!important;
            }
        </style>
    </head>
    <body class="shifter shifter-left offcanvas-menu-left offcanvas-menu-white mobile-header-style2 sticky-header">
         <!-- wasa-->
            <a href="https://api.whatsapp.com/send?phone=573155772974" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
            </a>
        <!-- wasa-->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- mobile-header-wrapper -->
        <body class="sidebar-left shifter shifter-left offcanvas-menu-rigth offcanvas-menu-white mobile-header-style2 sticky-header" >

            <!-- wasa-->
            <div class="preloader-container white-bg">
                <div class="container">
                    <div class="preloader-screen">
                        <div class="logo-container">
                            <a href="index.html" class="logo">
                                <img src="img/logo/logo4.png" alt="Knight Logo">
                            </a>
                        </div><!-- /logo-container -->
                        <div class="preloader-bar">
                            <span class="bar"></span>
                        </div><!-- /preloader-bar -->
                        <p class="preloader-percentage">
                            Loading
                            <span class="percentage">0%</span>
                        </p>
                    </div><!-- /preloader-screen -->
                </div><!-- /container -->
            </div><!-- /preloader-container -->
            <!-- mobile-header-wrapper -->
            
        <div id="app">
            <!-- Start top header info -->
            <navbartop_info></navbartop_info> 
            <!-- End top header info -->

            <div class="main-wrapper shifter-page" style="padding-top: 3px;">
            <!-- Start main-header -->
            <div v-if="userAuth">
                <navbartop_slider v-bind:carrito="carrito" v-bind:cantidadproductos="cantidadproductos" v-bind:userauth="userAuth.NOMBRES"></navbartop_slider> 
            </div>  
            <div v-else>
                <navbartop_slider v-bind:carrito="carrito" v-bind:cantidadproductos="cantidadproductos" v-bind:userauth="vacio"></navbartop_slider>             
            </div>

            <!-- Start main-contents -->
            <section class="main-contents padding-top45 padding-bottom90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="checkout-step">
                                <div class="step-name active">
                                    <h6 class="heading-alt-style12">Estado de tu Compra</h6>
                                </div><!-- /step-name -->
                                <div class="step-contents">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="account-form-wrapper login-form-wrapper">
                                                <header class="section-title section-title-style2">
                                                    <h4>{{ transaccEstado }}</h4>
                                                    <p>Gracias por elegirnos, ahora puedes continuar comprando</p>                                                    
                                                </header>
                                                <a href="tienda.html" class="button icon-button-style1 blue-bg">
                                                    <i class="icon icon2-5x icon-knight-343"></i>
                                                    <span>Volver a la Tienda</span>
                                                </a>
                                                <div class="empty-space180"></div>
                                                <div class="empty-space40"></div>
                                                
                                            </div><!-- /account-form -->
                                        </div><!-- /col-md-6 -->
                                        <div class="col-md-6">
                                            <div class="account-form-wrapper login-form-wrapper">
                                                <header class="section-title section-title-style2">
                                                    <img src="img/tienda/returnshop.jpg" class="img-responsive" alt="">                                                    
                                                </header>                                                
                                            </div><!-- /account-form -->
                                        </div><!-- /col-md-6 -->
                                    </div><!-- /row -->
                                </div><!-- /step-contents -->
                            </div>

                        </div><!-- /col-md-12 -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </section>
            <!-- End main-contents -->
            <!-- Start main-contents -->
           
            <!-- End main-contents -->
            <!-- Start main-footer -->
            <footerweb></footerweb>            
            <!-- End main-footer -->
        </div><!-- /main-wrapper -->
    </div><!-- End APP VUEJS -->
        <!-- JS -->       
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/jquery.themepunch.tools.min.js"></script>
        <script src="js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.fs.shifter.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/jquery.countTo.js"></script>
		<script src="js/jquery.flexslider-min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/jpreloader.js"></script>
        <script src="js/tweetie.min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/core.js"></script>
        <script src="js/number.js"></script>
      
        
        
        <!-- jQuery Modal -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        
        
        <!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="slider_revolucion/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="slider_revolucion/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="slider_revolucion/js/demo.revolution_slider.js"></script>
        <!-- REVOLUTION SLIDER -->
        
        <!-- vuejs -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="components/ComponentTopNavbarSlider_tienda.js"></script>
        <script src="components/ComponentTopNavbarInfo.js"></script>
        <!-- <script src="components/ComponentModalLogin.js"></script> -->
        <script src="components/ComponentFooter.js"></script> 
        
        
        
        <!-- plugin de paginacion   https://github.com/TahaSh/vue-paginate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-paginate/3.6.0/vue-paginate.js"></script>
        
        <!-- consumir API con vuejs -->       
        <script src="components/cargarcomponentes.js"></script>
                
        <script type="text/javascript">

            jQuery(document).ready(function() {
                jQuery('.tp-banner').revolution(
                    {
                        delay:9000,
                        startwidth:1170,
                        startheight:500,
                        fullScreen: 'on',
                        navigationType: 'none',
                        navigationArrows: 'solo',
                        navigationStyle: 'knight',
                        hideTimerBar: 'on',
                        soloArrowRightVOffset: 80,
                        soloArrowLeftVOffset: 80
                    });
                });
                
                $("#formlogin").on('submit', function(evt){
                    evt.preventDefault();  
                    // tu codigo aqui
                });
        </script>
        <script>
            var ano = (new Date).getFullYear();
                $(document).ready(function() {
                $("#fecha").text( ano );
            });
        </script>        
    </body>
</html>
